{% extends "layout.html" %}

{% block title %}Contacto{% endblock %}
{% block main %}
<form action="/enviarMail" method="get">
    <div class="form-row m-3 justify-content-md-center">
        <div class="form-group col col-md-3">
            <label for="alias">Alias: </label>
        </div>
        <div class="form-group col col-md-3">
            {% if alias %}
            <input type="text" class="form-control" name="alias" id="alias" value="{{alias}}" disabled required>                                    
            {% else %}
            <input type="text" class="form-control" name="alias" id="alias" value="noRegistrado" disabled required>                                    
            {% endif %}
            
        </div>
    </div>
    <div class="form-row m-3 justify-content-md-center">
        <div class="form-group col col-md-3">
            <label for="contenido">Contenido: </label>
        </div>
        <div class="form-group col col-md-3">
            <textarea class="form-control" name="contenido" id="contenido"></textarea>
        </div>
    </div>
    <div class="form-row m-3 justify-content-md-center">
            <div class="form-group col col-md-3">
                <button type="submit" class="btn btn-outline-primary form-control">Enviar</button>
            </div>
        </div>
</form>

{% endblock %}
