{% extends "layout.html" %}

{% block title %}Respuestas del Foro{% endblock %}
{% block main %}
<div class="card border-primary m-3" id="madre">
    <div class="card-body">
        <h5 class="card-title">{{foro[3]}}</h5>
        <h6 class="card-subtittle text-muted">
            Elaborado por: {{foro[2]}}
        </h6>
        <p class="card-text">
            {{foro[4]}}
        </p>
        <p class="text-muted">
            Fecha de posteo: {{foro[6]}}
        </p>

    </div>
    <ul class="list-group list-group-flush">
        <div id="listRespuestas">
        {% for res in respuestas %}
        <li class="list-group-item">
            <p>
                {{res[2]}}
            </p>
            <p class="text-muted">
                {{res[1]}} - {{res[4]}}
            </p>
        </li>
        {% endfor %}  
        </div>
        
        <div class="card-body">
            <textarea class="form-control" maxlength="500" name="responder" id="responder" rows="1"></textarea>
            <div class="row justify-content-end">
                <button type="button" class="btn btn-primary m-3" id="btnResponder">Responder</button>
            </div>
        </div>
    </ul>

</div>
<script>
    var botonResponder = document.getElementById('btnResponder')
    var contenido = document.getElementById('responder')
    var divMadre = document.getElementById('madre')
    botonResponder.addEventListener('click', responder)
    var prueba = '{{alias}}'
    function responder() {
        var alias = '{{alias}}'
        if (alias != '') {
            var url = "/addRespuesta?idForo={{foro[0]}}&contenido=" + contenido.value + "&alias={{alias}}"
            $.get(url,function(res){
                $("#listRespuestas").empty()
                $("#listRespuestas").append(res)
            })
        } else {
            alert("Registrese si quiere comentar")
        }
    }
</script>
{% endblock %}